#diagram {
    display: flex;
}

#diagram>div {
    margin: 0;
}

figure {
    background-color: rgb(85, 224, 217);
    padding: 10px;
    border-radius: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: max-content;
    height: max-content;
    margin: 16px 8px;
}

#diagram2>figure:first-child {
    margin-top: 120px;
}

figcaption {
    color: #e51a4c;
    font-size: 1.2rem;
    font-weight: bold;
    width: 250px;
    text-align: center;
    margin-top: 10px;
}

html {
    font-family: 'Roboto', sans-serif;
}